/* html, body {
     height: 100%;
 }
*/
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    /*background-color: #1b263b;*/
    /*background-color: #778da9;*/
    background-color: #d8dfe7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

select {
    width: 100%;
    padding: .5em;
    border-radius: .25em;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.box {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: .5em;
}

.navbar {
    padding-block: 2em;
    margin-bottom: 4em;
    background-color: #415a77;
}

.navbar a {
    color: #fff !important;    
}

.transaction-container {
    width: 100%;
    margin-top: 2em;
    /*margin-inline: auto;*/
}

/*.transaction-container p {
    font-size: 1.5rem;
}*/

.edit-btn,
.delete-btn {
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.5;
}

#modal-btn {
    /*background-color: #e0e1dd;*/
}

.create-sales-order-cta {
    /*text-align: right;*/
}

.customerId-container {
    text-align: right;
}

.customerId-container form {
    max-width: 300px;
    margin-left: auto;
}

.clear-all-form-container form {
    text-align: right;
}

.table-container .actions-col,
.table-container .item-index {
    width: 90px;
}


/*
    .pending-order-text {
        font-size: clamp(.7rem, .5rem + 1vw, 1rem);
    }*/

