@using MvcCodeFlowClientManual.Models
@{
    ViewBag.Title = "API Call Response";
}

@*<h2>API Call Response</h2>
<ul>
   @foreach(var customer in Model)
            {
                <li>@customer.FullName</li>
            }

</ul>*@

@*<p style="word-wrap: break-word;">@Model</p>*@



